<app-weekday-header [monthsAheadFromToday]="monthsAheadFromToday"></app-weekday-header>

<div>
    <app-week-view [monthsAheadFromToday]="monthsAheadFromToday" [week]="0"></app-week-view>
    <app-week-view [monthsAheadFromToday]="monthsAheadFromToday" [week]="1"></app-week-view>
    <app-week-view [monthsAheadFromToday]="monthsAheadFromToday" [week]="2"></app-week-view>
    <app-week-view [monthsAheadFromToday]="monthsAheadFromToday" [week]="3"></app-week-view>
    <app-week-view [monthsAheadFromToday]="monthsAheadFromToday" [week]="4"></app-week-view>

</div>