<div>
    <h2>
        {{dataForDialog.reminderId ? 'Edit': 'Create'}} reminder for {{date.month}}/{{date.day}}
    </h2>
</div>
<p>

    <mat-form-field appearance="fill">
        <mat-label>Reminder</mat-label>
        <input matInput maxlength="30" required [formControl]="reminderControl">
    </mat-form-field>
</p>
<p>

    <mat-form-field appearance="fill">
        <mat-label>City</mat-label>
        <input matInput required [formControl]="cityControl">
    </mat-form-field>
</p>
<div class="colorPicker">
    <p>Reminder Color </p>
    <input type="color" id="reminderColor" name="myColorPicker" value="#00FF00">
</div>
<br>

<mat-form-field>
    <input matInput [ngxMatDatetimePicker]="picker" placeholder="Choose a date" [formControl]="dateControl">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <ngx-mat-datetime-picker #picker>
    </ngx-mat-datetime-picker>
</mat-form-field>


<br>
<button mat-raised-button color="primary" [disabled]="!reminderControl.valid || !cityControl.valid" (click)="confirm()">OK</button>