<div>Reminder for {{date.month}}/{{date.day}}</div>
<p>

    <mat-form-field appearance="fill">
        <mat-label>Reminder</mat-label>
        <input matInput maxlength="30" [formControl]="reminderControl">
    </mat-form-field>
</p>
<p>

    <mat-form-field appearance="fill">
        <mat-label>City</mat-label>
        <input matInput [formControl]="cityControl">
    </mat-form-field>
</p>

<mat-form-field>
    <input matInput [ngxMatDatetimePicker]="picker" placeholder="Choose a date" [formControl]="dateControl">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <ngx-mat-datetime-picker #picker>
    </ngx-mat-datetime-picker>
</mat-form-field>

<p>Reminder Color<input type="color" id="head" name="myColorPicker" value="#e66465"></p>

<button mat-raised-button color="primary" (click)="confirm()">OK</button>