<div class="week">
    <app-day-view [isWeekend]="true" [date]="date0"></app-day-view>
    <app-day-view [isWeekend]="false" [date]="date1"></app-day-view>
    <app-day-view [isWeekend]="false" [date]="date2"></app-day-view>
    <app-day-view [isWeekend]="false" [date]="date3"></app-day-view>
    <app-day-view [isWeekend]="false" [date]="date4"></app-day-view>
    <app-day-view [isWeekend]="false" [date]="date5"></app-day-view>
    <app-day-view [isWeekend]="true" [date]="date6"></app-day-view>
</div>