.header>div{
    border: 1px solid;
    padding: 1px;
    background-color: darkblue;
    color: white;
    text-align: center;
    
}

.header{
    display: flex;
    width: 1000px;
}

.weekDay{
    width: 120px;

}