<h2>{{monthToDisplay}}, {{yearToDisplay}}</h2>
<div class="header">
    <div class="weekDay" style="width: 150px;">Sunday</div>
    <div class="weekDay" style="width: 150px;">Monday</div>
    <div class="weekDay" style="width: 150px;">Tuesday</div>
    <div class="weekDay" style="width: 150px;">Wednesday</div>
    <div class="weekDay" style="width: 150px;">Thursday</div>
    <div class="weekDay" style="width: 150px;">Friday</div>
    <div class="weekDay" style="width: 150px;"> Saturday</div>
</div>