<h2>{{monthToDisplay}}, {{yearToDisplay}}</h2>
<div class="header">
    <div class="weekDay" style="width: 120px;">Sunday</div>
    <div class="weekDay" style="width: 120px;">Monday</div>
    <div class="weekDay" style="width: 120px;">Tuesday</div>
    <div class="weekDay" style="width: 120px;">Wednesday</div>
    <div class="weekDay" style="width: 120px;">Thursday</div>
    <div class="weekDay" style="width: 120px;">Friday</div>
    <div class="weekDay" style="width: 120px;"> Saturday</div>
</div>