.reminder{
    background-color: LightYellow;
    font-size: 10px;
    border-radius: 4px;
    margin: 2px;
}

.icon{
    width: 20%;
}

.weatherCard{
    display: flex;
    align-items: center;
}

.reminderText{
    cursor: pointer;
}