.day{
    border: 1px solid;
    width: 120px;
    margin: 1px;
}

.weekend{
    border: 1px solid;
    width: 120px;
    background-color: silver;
    margin: 1px;
}

.dayNumberHeaderCurrentMonth{
    color:red;
    padding-left: 10px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.dayNumberHeaderNotCurrentMonth{
    color:gray;
    padding-left: 10px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}